<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<footer>

    <h5 style="font-family: 'Open Sans', sans-serif;" class="text-align-center "> Copyright © 2023 All rights reserved |
        This
        Portfolio is made with
        <mat-icon class="position-relative" style="font-size: 1.67em;top:10px ;"> favorite </mat-icon>
        by Parham Barati
    </h5>

</footer>