<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<footer class="display-f flex-dir-column align-items-center primary">

    <h5 *ngIf="showParham" style="font-family: 'Open Sans', sans-serif;" class="text-align-center "> Copyright © 2023
        All rights reserved |
        This
        Portfolio is made with
        <mat-icon class="position-relative" style="font-size: 1.67em;top:10px ;"> favorite </mat-icon>
        by Parham Barati
    </h5>

    <div class="social-media display-f gap-3 pb-2 ">
        <a target="_blank" href="https://www.instagram.com/Anis.sabbagh/"> <img
                src="../../assets/social-media-icons/instagram.png">
        </a>
        <a target="_blank" href="https://unsplash.com/@anissabbagh"> <img
                src="../../assets/social-media-icons/unsplash.png"> </a>
        <a target="_blank" href="https://twitter.com/Anissabagh"> <img
                src="../../assets/social-media-icons/twitter.png"> </a>
        <a target="_blank"
            href="https://open.spotify.com/user/31obrryvvwegyagqcdl3su3d3vbu?si=bdhvoWYRRn-JXn5o66dt2Q&utm_source=copy-link&nd=1">
            <img src="../../assets/social-media-icons/spotify.png"> </a>
        <a target="_blank" href="https://pin.it/2Joj0Po"> <img src="../../assets/social-media-icons/pinterest.png"> </a>
        <a target="_blank" href="mailto:anissabbagh1381@gmail.com"> <img
                src="../../assets/social-media-icons/email.png"> </a>
        <a target="_blank" href="https://www.linkedin.com/in/anis-sabbagh-bb83a0263/"> <img
                src="../../assets/social-media-icons/linkedin.png"> </a>
    </div>

</footer>