:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  width: 20rem;
}
.form-control {
  display: block;
}
.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button{
  background-color: rgb(0, 21, 255);
  color: aliceblue !important;
}
