@import "../../assets/styles/palette.scss";
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-group {
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}

input {
  width: 50%;
  background-color: $platinum;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
}

textarea {
  background-color: $platinum;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
}
