<app-nav-bar style=" position: sticky;
position: -webkit-sticky;
top: 0;"> </app-nav-bar>

<div class="form-container ">


    <img src="../../assets/IMG_20230310_144543_330.jpg">


    <!-- <div style=" font-family: 'Open Sans', serif;" class=" form-overlay  display-f flex-dir-column  p-2  ">
        <h1 class="m-0"> Get in Touch </h1>
        <h4> If you want to get in touch you can email me at <a href="mailto:anissabbagh1381@gmail.com">
                anissabbagh1381@gmail.com </a> or fill out the contact form below </h4>
        <form class="display-f flex-dir-column gap-2" (ngSubmit)=" onSubmit()">
            <div class="form-group display-f flex-dir-column gap-1">
                <label for="name">Name:</label>
                <input type="text" class="form-control br-xs p-1 " id="name" [(ngModel)]="name" name="name" required>
            </div>
            <div class="form-group display-f flex-dir-column gap-1">
                <label for="email">Email:</label>
                <input type="email" class="form-control p-1 br-xs" id="email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group display-f flex-dir-column gap-1">
                <label for="message">Message:</label>
                <textarea class="form-control p-2 br-xs" id="message" [(ngModel)]="message" name="message"
                    required></textarea>
            </div>
            <button type="submit" style="width: 150px; font-weight: 800; font-family: inherit; "
                class=" br-xs p-1 ml-auto">Submit</button>
        </form>
    </div> -->

</div>







<app-footer class="mt-auto"> </app-footer>