<app-nav-bar></app-nav-bar>
<div class="images-container">
    <div *ngIf="images$ | async as photos; else loading" class="pics display-f flex-dir-column ">
        <img class="fade-in-top mb-1" *ngFor=" let image of photos; index as i  " [src]="image.urls.regular">

    </div>
</div>

<app-footer class="mt-auto"></app-footer>





<ng-template #loading>

    <div style="
        position: absolute;
        inset: 0;
        " class="display-f justify-center align-items-center loading-container mt-auto mb-auto ">
        <span class='loading'> Loading </span>
    </div>

</ng-template>