@import "../../assets/styles/palette.scss";
:host {
  height: 100%;
  display: flex;
  transition: all 0.2s ease-out;
  flex-direction: column;
  overflow-x: hidden;
  color: $raisin-black;
  background-color: $platinum;
}

.Category {
  font-family: "Cormorant Garamond";
  font-weight: 600;

  font-size: 1.3rem;
}

input {
  display: none;
}

.images-container {
}

.loading {
  font-size: 3rem;
  background-image: linear-gradient(to right, $raisin-black 35%, #71797e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: 0%;
  animation: animatedText 1s infinite alternate;
}

.footer {
  background-color: $raisin-black;
}

@keyframes animatedText {
  to {
    background-position: 100% center;
  }
}

@media screen and (min-width: 760px) {
  .images-container {
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;
  }

  .images-container .pics {
    transition: all 350 ease;
    cursor: pointer;
  }

  img {
    transition: all 200ms ease-in-out;
    width: 100%;
  }

  img:hover {
    transition: 200ms;
    scale: 1.1;
  }
}
