@import "../../assets/styles/palette.scss";
:host {
  height: 100%;
  display: flex;
  transition: all 0.2s ease-out;
  flex-direction: column;
  overflow-x: hidden;
  color: $raisin-black;
  background-color: $platinum;
}

.Category {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 1.3rem;
}

input {

}
label{
  cursor: pointer;;
}

.images-container {


  .pics{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    img{
      object-fit: cover;
      opacity: 0;
      transition: 600ms;

    }
    .show{
      opacity: 1;
    }
  }
}



.loading {
  font-size: 3rem;
  background-image: linear-gradient(to right, $raisin-black 35%, #71797e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: 0%;
  animation: animatedText 1s infinite alternate;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;


}

.footer {
  background-color: $raisin-black;
}

@keyframes animatedText {
  to {
    background-position: 100% center;
  }
}

@media screen and (min-width: 760px) {
  // .images-container {
  //   column-count: 3;
  //   column-width: 33%;
  //   padding: 0 12px;
  // }

  .images-container .pics {
    transition: all 50 ease;
    cursor: pointer;
  }

  img {
    transition: all 50ms ease-in-out;
    width: 100%;
  }

  img:hover {
    transition: 200ms;
    scale: 1.1;
    z-index: 3;
  }
}
