<mat-tab-group class="">
  <mat-tab label="Image">
    <h2>Select Category</h2>
    <hr />

    <div class="display-f align-items-center gap-2">
      <mat-form-field>
        <mat-label>Select an Category</mat-label>
        <mat-select [(value)]="category">
          <mat-option *ngFor="let item of categories" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        *ngIf="!addCategoryClicked"
        mat-button
        color="primary"
        (click)="addCategory()"
      >
        Add Category
      </button>

      <form *ngIf="addCategoryClicked">
        <mat-form-field>
          <mat-label>Category Name</mat-label>
          <input matInput [formControl]="categoryName" placeholder="Portrait" />
        </mat-form-field>
        <button color="primary" mat-button (click)="addCategoryToCategories()">
          Add
        </button>
        <button
          color="warn"
          mat-button
          (click)="cancleAddingCategoryToCategories()"
        >
          Cancle
        </button>
      </form>
    </div>
    <p style="color: black">
      Selected Category <strong> {{ category }} </strong>
    </p>

    <h2 class="mt-4">Select File(s)</h2>
    <hr />

    <form class="display-f flex-dir-column">

      <input type="file" multiple  (change)="onFileSelected($event)" />
    </form>
  </mat-tab>
  <mat-tab label="Blog"> Content 2 </mat-tab>
</mat-tab-group>
