:host {
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.homePage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.homepage-overlay {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 25%, 0.7);
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
