

<div class="homePage"> <img src="../../assets/20220706150708_IMG_56601-compress.avif"> </div>
<div class="homepage-overlay">
  <div (click)="openDialog()" class="donate position-absolute right display-f align-items-center " >
    <p> Buy me a Coffee </p>
   <mat-icon> coffee </mat-icon>
  </div>
    <div class="homepage-overlay-text">
        <div>

            <h1 class=" m-0" style="font-family: 'Playfair Display', serif ;letter-spacing: 2px;"> ANIS SABBAGH </h1>
            <h3 class=" m-0" style="font-family: 'Playfair Display', serif;letter-spacing: 7px;"> Photographer <span style="font-family: Roboto;font-weight: 100;">
              &
            </span>
                Editor
            </h3>

        </div>
        <ul class="m-0 mt-3 font-lg display-f flex-dir-column "
            style="margin-block-start: 0;padding-inline-start:0;font-family: 'Poppins', serif ; font-weight: 300;">
            <li> <a routerLink="/Portfolio" href="#"> Portfolio </a> </li>
            <li> <a href="#"> Stories </a> </li>
            <li> <a href="#"> Blog </a> </li>
            <li> <a href="#"> Store </a></li>
            <li> <a routerLink="/AboutMe"> About Me </a> </li>
            <li> <a routerLink="/Contact" class="contact br-xs" href="#"> Contact </a> </li>
        </ul>

    </div>
    <app-footer class="position-absolute bottom" [showParham]="false"></app-footer>
</div>
