<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">

<div class="homePage"></div>
<div class="homepage-overlay">
    <div>

        <h1 class=" m-0" style="font-family: 'Cormorant Garamond', serif ;letter-spacing: 1rem;"> ANIS SABBAGH </h1>
        <h3 class=" m-0" style="font-family: 'Cormorant Garamond', serif;letter-spacing: 0.5rem;"> Photographer & Editor
        </h3>

    </div>
    <ul class="mt-3 font-lg display-f flex-dir-column " style="">
        <li> <a> Portfolio </a> </li>
        <li> <a> Stories </a> </li>
        <li> <a> Blog </a> </li>
        <li> <a> Store </a>
        </li>
    </ul>
</div>