<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">

<div class="homePage"> <img src="../../assets/20220706150708_IMG_5660.jpg"> </div>
<div class="homepage-overlay">
    <div class="homepage-overlay-text">
        <div>

            <h1 class=" m-0" style="font-family: 'Cormorant Garamond', serif ;letter-spacing: 2px;"> ANIS SABBAGH </h1>
            <h3 class=" m-0" style="font-family: 'Cormorant Garamond', serif;letter-spacing: 7px;"> Photographer &
                Editor
            </h3>

        </div>
        <ul class="m-0 mt-3 font-lg display-f flex-dir-column "
            style="margin-block-start: 0;padding-inline-start:0;font-family: 'Cormorant Garamond', serif ; font-weight: 400;">
            <li> <a routerLink="/Portfolio" href="#"> Portfolio </a> </li>
            <li> <a href="#"> Stories </a> </li>
            <li> <a href="#"> Blog </a> </li>
            <li> <a href="#"> Store </a>
            </li>
        </ul>
    </div>
</div>