<!--
  TODO:
  change the loading
 -->

<app-nav-bar></app-nav-bar>

<div class="Category" style="font-family: 'Poppins', serif; font-weight: 300">
  <form
    class="display-f justify-center flex-wrap-wrap gap-3 mt-3"
    [formGroup]="myForm"
  >
    <label>
      <input type="radio" formControlName="option" value="portraits" />
      Portraits
    </label>
    <label>
      <input type="radio" formControlName="option" value="architectural" />
      Architectural
    </label>

    <label>
      <input type="radio" formControlName="option" value="urban" />
      Urban
    </label>
    <label>
      <input type="radio" formControlName="option" value="product" />
      Product
    </label>
    <label>
      <input type="radio" formControlName="option" value="commercial" />
      Commercial
    </label>
  </form>
</div>


<div *ngIf="myForm.get('option')?.value === 'portraits'" class="images-container m-2 position-relative">
  <!-- <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading> -->
  <div class="pics position-relative">
    <!-- <img @fade [ngSrcset]="rawSrcset" sizes="50vw" style="height: auto;" [width]="portrait.width" [height]="portrait.height"   *ngFor="let portrait of portraitsimages; let i = index" [ngSrc]="portrait.url"  [priority]="i <= 2" > -->
    <img @fade *ngFor="let portrait of portraitPaths; let i = index"  [src]="portrait"  [loading]="i > 5 ? 'lazy' : null" >
  </div>



</div>

<div *ngIf="myForm.get('option')?.value === 'architectural'" class="images-container m-2 position-relative ">
  <!-- <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading> -->
  <div class="fade-in pics">
    <img  (load)="onImageLoad(architecturalImages)"  class="fade-in" *ngFor="let architect of architecturalImages" [src]="architect" >
  </div>

</div>

<div *ngIf="myForm.get('option')?.value === 'urban'" class="images-container m-2 position-relative ">
  <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading>
  <div class="fade-in pics ">
    <img  (load)="onImageLoad(urbanImages)"  class="fade-in" *ngFor="let urban of urbanImages" [src]="urban" >
  </div>

</div>


<app-footer class="footer "></app-footer>
