<!--
  TODO:
  change the loading
 -->

<app-nav-bar></app-nav-bar>

<div class="Category" style="font-family: 'Poppins', serif; font-weight: 300">
  <form
    class="display-f justify-center flex-wrap-wrap gap-3 mt-3"
    [formGroup]="myForm"
  >
    <label>
      <input type="radio" formControlName="option" value="portraits" />
      Portraits
    </label>
    <label>
      <input type="radio" formControlName="option" value="architectural" />
      Architectural
    </label>

    <label>
      <input type="radio" formControlName="option" value="urban" />
      Urban
    </label>
    <label>
      <input type="radio" formControlName="option" value="product" />
      Product
    </label>
    <label>
      <input type="radio" formControlName="option" value="commercial" />
      Commercial
    </label>
  </form>
</div>


<div *ngIf="myForm.get('option')?.value === 'portraits'" class="images-container m-2 position-relative">
  <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading>
  <div class="fade-in pics">
    <img  (load)="onImageLoad(portraitsimages)"  class="fade-in" *ngFor="let portrait of portraitsimages; let i = index" [src]="portrait" [ngClass]=" {'row-span-2' : i % 4 === 0 , 'row-span-3' : i % 7 === 0 && i !== 0 } " >
  </div>



</div>

<div *ngIf="myForm.get('option')?.value === 'architectural'" class="images-container  position-relative mt-2 mb-2 ">
  <!-- <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading> -->
  <div class="fade-in">
    <img  (load)="onImageLoad(architecturalImages)"  class="fade-in" *ngFor="let architect of architecturalImages" [src]="architect" >
  </div>

</div>

<div *ngIf="myForm.get('option')?.value === 'urban'" class="images-container  position-relative mt-2 mb-2 ">
  <!-- <loading #loading @fade *ngIf="imageLoaded" class="position-absolute top right bottom left z-index-1 "></loading> -->
  <div class="fade-in ">
    <img  (load)="onImageLoad(urbanImages)"  class="fade-in" *ngFor="let urban of urbanImages" [src]="urban" >
  </div>

</div>

<!-- <div *ngIf="shownLoading" style=" inset: 0; height: 50vh; "
    class="position-absolute display-f justify-center align-items-center loading-container mt-auto mb-auto  ">
    <span class='loading'> Loading </span>
</div>






<div *ngIf="myForm.get('option')?.value === 'architectural'" class="images-container mt-2 mb-2">


</div>




<div *ngIf="myForm.get('option')?.value === 'urban'" class="images-container mt-2 mb-2">


</div>
<div *ngIf="myForm.get('option')?.value === 'product'" class="images-container mt-2 mb-2">


</div> -->

<app-footer class="footer "></app-footer>
